<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span>


    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btniveluno&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;74dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;120dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;60dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;368dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;152dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;1&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btniveldos&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;74dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;100dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;100dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;156dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;152dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;2&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@id/btniveluno&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btniveltres&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;74dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;100dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;100dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;264dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;152dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;3&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@id/btniveldos&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnivelcuatro&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;74dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;72dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;60dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;276dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;240dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;4&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnivelcinco&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;74dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;92dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;100dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;276dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;240dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;5&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@id/btnivelcuatro&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnivelseis&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;74dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;100dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;100dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;264dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;240dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;6&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@id/btnivelcinco&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnivelsiete&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;74dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;100dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;60dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;264dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;7&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;@id/btnivelcuatro&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnivelocho&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;74dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;92dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;100dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;276dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;8&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@id/btnivelsiete&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;@id/btnivelcinco&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnivelnueve&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;74dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;92dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;100dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;276dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;85dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;9&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@id/btnivelocho&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;@id/btnivelseis&quot; </span><span class="s0">/&gt;</span>
    
    
    
    
    

    





<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>